<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/footer.css">
    <link rel="stylesheet" href="../css/header.css">
    <link rel="stylesheet" href="../css/categorias.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
        integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Laura's Store | Categorias</title>
</head>

<body>
    <header>
        <div class="logo">Laura's Store</div>
        <input type="checkbox" id="chk_menu" hidden>
        <nav>
            <div class="logo">Laura's Store</div>
            <ul>
                <li><a href="../index.html">Inicio</a></li>
                <li><a href="categorias.html">Categorias</a></li>
                <li><a href="productos.html">Productos</a></li>
                <li><a href="ofertas.html">Ofertas</a></li>
                <li><a href="../view/contactanos.html">Contacto</a></li>
            </ul>
            <input type="search" name="ser_busqueda" class="barra-busqueda-nav" placeholder="Busqueda.......">
            <input type="button" value="Login" class="btn-login-nav">
            <input type="button" value="Sign up" class="btn-signup-nav">
        </nav>
        <input type="search" name="ser_busqueda" class="barra-busqueda" placeholder="Busqueda.......">
        <div class="botones-header">
            <input type="button" value="Login" class="btn-login">
            <input type="button" value="Sign up" class="btn-signup">
        </div>
        <div class="carrito">
            <a href="#"><i class="fa-solid fa-cart-shopping"></i></a>
        </div>
        <label for="chk_menu" class="mini-menu">
            <div></div>
            <div></div>
            <div></div>
        </label>
    </header>

    <!-- categoria hogar y cocina -->
    <br><br>
    <div class="contenedor">
        <div>
            <h2>Hogar y Cocina</h2>
        </div>
        <br>
        <br>
        <div class="row">
            <div class="columna">
                <div id="centrar">
                    <span><strong>Utensilios de cocina</strong></span>
                    <p>Con remates decorativos redondos en ambos extremos y soporte de pared incluido ofrece una anchura
                        ajustable.</p>
                </div>
            </div>

            <div class="columna">
                <div id="centrar">
                    <span><strong>Sartenes</strong></span>
                    <p>Hecho de 80% de acero inoxidable y 20% de aluminio durable, fácil de limpiar, puede ser usado en
                        estufa u horno.</p>
                </div>
            </div>

            <div class="columna">
                <div id="centrar">
                    <span><strong>Cortineros</strong></span>
                    <p>Con remates decorativos redondos en ambos extremos y soporte de pared incluido ofrece una anchura
                        ajustable.</p>
                </div>
            </div>

            <div class="columna">
                <div id="centrar">
                    <span><strong>Juegos de olla</strong></span>
                    <p>15 piezas incluye sartén de 8 pulgadas, sartén de 10 pulgadas, cacerola de 1,5 cuartos, cacerola
                        de 2 cuartos.</p>
                </div>
            </div>

            <div class="columna">
                <div id="centrar">
                    <span><strong>Juegos de vajilla</strong></span>
                    <p>Vajilla de 18 piezas; servicio para 6;incluye 6 cada uno: plato de comida, plato de ensalada y
                        tazón para sopa.</p>
                </div>
            </div>

            <div class="columna">
                <div id="centrar">
                    <span><strong>Organizador para el hogar</strong></span>
                    <p>Cada estante puede contener hasta 10 libras; cada cajón puede contener hasta 5 libras; tela
                        elegante.</p>
                </div>
            </div>

            <div class="columna">
                <div id="centrar">
                    <span><strong>Accesorios para baño</strong></span>
                    <p>Toalleros, Toallas, Papel,Albornoces, Jaboneras, Dosificadores de jabón, Alfombras de baño y
                        ¡mucho más!.</p>
                </div>
            </div>

            <div class="columna">
                <div id="centrar">
                    <span><strong>Tooper para comida</strong></span>
                    <p>Pueden ser encontrados en muchos colores, tamaños y formas Juego de 38 piezas (19 tapas y 19
                        recipientes).</p>
                </div>
            </div>
        </div>
    </div>

    <!-- categoria Belleza y cuidado de personal-->
    <br><br>
    <div class="contenedor">
        <div>
            <h2>Belleza y cuidado personal</h2>
        </div>
        <br>
        <br>
        <div class="row">
            <div class="columna">
                <div id="centrar">
                    <span><strong>Maquillaje</strong></span>
                    <p>Los mejores estuches de maquillaje. Incluyen los mejores productos para tu piel facial sin
                        efectos secundarios.</p>
                </div>
            </div>

            <div class="columna">
                <div id="centrar">
                    <span><strong>Cabello</strong></span>
                    <p>Los mejores tratamientos para el cuidado de tu cabello.Ofrecemos shampu, acondicionador, Espray
                        de proteccion termica.</p>
                </div>
            </div>

            <div class="columna">
                <div id="centrar">
                    <span><strong>Fragancia</strong></span>
                    <p>Las notas de olor de cada perfume te haran sentir elegante y segura. Con ingredientes
                        antialergicos.</p>
                </div>
            </div>

            <div class="columna">
                <div id="centrar">
                    <span><strong>Cuidado bucal</strong></span>
                    <p>Todos los productos imprescindibles para tu higiene dental. Luciras una sonrrisa radiante y
                        fabulosa.</p>
                </div>
            </div>

            <div class="columna">
                <div id="centrar">
                    <span><strong>Cuidado Personal</strong></span>
                    <p>Encontraras los mejores productos para tu cuidado e higiene personal. Luciras radiante.</p>
                </div>
            </div>

            <div class="columna">
                <div id="centrar">
                    <span><strong>Cuidado de pies,manos y uñas</strong></span>
                    <p>Encontraras tratamientos para uñas y decoracion de las mismas, utensilios y accesorios.</p>
                </div>
            </div>

            <div class="columna">
                <div id="centrar">
                    <span><strong>Afeitado y depilacion</strong></span>
                    <p>Los mejores juegos de rasuradoras y las mejores cremas y tratamientos para afeitarte.</p>
                </div>
            </div>

            <div class="columna">
                <div id="centrar">
                    <span><strong>Accesorios y herramientas</strong></span>
                    <p>Encontraras cepillos y utensilios de maquillaje, espejos, calentadores y calefactores.</p>
                </div>
            </div>
        </div>
    </div>

    <!-- categoria Moda para mujres -->
    <br><br>
    <div class="contenedor">
        <div>
            <h2>Moda para mujer</h2>
        </div>
        <br>
        <br>
        <div class="row">
            <div class="columna">
                <div id="centrar">
                    <span><strong>Ropa</strong></span>
                    <p>Vestidos, top, camisetas y blusas, sueteres, trajes de baño, faldas, shorts, pantalones y
                        leggings. </p>
                </div>
            </div>

            <div class="columna">
                <div id="centrar">
                    <span><strong>Calzado</strong></span>
                    <p>Botas, deportes, exteriores, pantunflas, sandalias, tenis de moda, mocazines, zapatos sin talon.
                    </p>
                </div>
            </div>

            <div class="columna">
                <div id="centrar">
                    <span><strong>Joyeria</strong></span>
                    <p>Tobilleras, Pulseras, Broches y Prendedores, Broches y Prendedores, Aretes, Juegos de Joyería,
                        Collares.</p>
                </div>
            </div>

            <div class="columna">
                <div id="centrar">
                    <span><strong>Relojes</strong></span>
                    <p>Relojes de pulsera, correas de reloj, relojes de bolsillo, relojes inteligentes.</p>
                </div>
            </div>

            <div class="columna">
                <div id="centrar">
                    <span><strong>Bolsas y carteras</strong></span>
                    <p>Bolsas con asa superior, bolsas cross-body, bolsas de hombro, bolsas de mano y noche.</p>
                </div>
            </div>

            <div class="columna">
                <div id="centrar">
                    <span><strong>Accesorios</strong></span>
                    <p>Gafas y accesorios, guantes y mitones, sombreros y gorras, billeteras y organizadores.</p>
                </div>
            </div>

            <div class="columna">
                <div id="centrar">
                    <span><strong>Trajes de etiqueta</strong></span>
                    <p>Los mejores traje sastre, tanto en pantalon como falda, con o sin chaqueta, vestidos.</p>
                </div>
            </div>

            <div class="columna">
                <div id="centrar">
                    <span><strong>Pijamas</strong></span>
                    <p>Las mejores pijamas con ellas te sentiras y dormiras comoda como nunca antes.</p>
                </div>
            </div>
        </div>

    </div>

    <!-- Electronicos y computadoras -->
    <br><br>
    <div class="contenedor">
        <div>
            <h2>Electrónicos y computadoras</h2>
        </div>
        <br>
        <br>
        <div class="row">
            <div class="columna">
                <div id="centrar">
                    <span><strong>Accesorios y suministros</strong></span>
                    <p>Accesorios para camaras y fotos, accesorios de celulares, cables, soportes, microfonos.</p>
                </div>
            </div>

            <div class="columna">
                <div id="centrar">
                    <span><strong>Camaras y fotografia</strong></span>
                    <p>Camaras digitales, camaras simuladas, fotografia de rollo, proyectores de video, video, lentes.
                    </p>
                </div>
            </div>

            <div class="columna">
                <div id="centrar">
                    <span><strong>Television y video</strong></span>
                    <p>Reproductores y grabadoras de video, lentes de video virtual, television satelital, accesorios.
                    </p>
                </div>
            </div>

            <div class="columna">
                <div id="centrar">
                    <span><strong>Electronicos de Oficina</strong></span>
                    <p>Calculadoras, camaras para documentos, copiadoras, escaneres, impresoras y proyectores.</p>
                </div>
            </div>

            <div class="columna">
                <div id="centrar">
                    <span><strong>Computadoras y tablets</strong></span>
                    <p>Computadoras de escritorio, laptops, tablets y accesorios de las mismas.</p>
                </div>
            </div>

            <div class="columna">
                <div id="centrar">
                    <span><strong>Productos para redes</strong></span>
                    <p>Adaptadores de red, antenas de red, routers, repetidores, almacenamiento conectado a red.</p>
                </div>
            </div>

            <div class="columna">
                <div id="centrar">
                    <span><strong>Almacenamiento de datos</strong></span>
                    <p>Discos duros externos, discos duros internos, unidades de estado solido, unidades flash.</p>
                </div>
            </div>

            <div class="columna">
                <div id="centrar">
                    <span><strong>Garantias y servicios</strong></span>
                    <p>Garantias para computadoras, planes de servicio.</p>
                </div>
            </div>
        </div>
    </div>

    <!-- Arte y artesanias-->
    <br><br>
    <div class="contenedor">
        <div>
            <h2>Arte y Artesanias</h2>
        </div>
        <br>
        <br>
        <div class="row">
            <div class="columna">
                <div id="centrar">
                    <span><strong>Costura</strong></span>
                    <p>Accesorios para maquina, patrones de costura, maquinas de coser, maquinas de bordar, adornos y
                        ornamentos.</p>
                </div>
            </div>

            <div class="columna">
                <div id="centrar">
                    <span><strong>Bordado</strong></span>
                    <p>Articulos para fieltro, encaje y labor de encaje, bordado en cañamazo, elaboracion de tapetes.
                    </p>
                </div>
            </div>

            <div class="columna">
                <div id="centrar">
                    <span><strong>Tejido y croshet</strong></span>
                    <p>Agujas de tejido, alamcenamiento de estambre, ganchos de tejido, patrones de tejido y patrones
                        para croshet.</p>
                </div>
            </div>

            <div class="columna">
                <div id="centrar">
                    <span><strong>Estampado</strong></span>
                    <p>Materiales para grabado y litografia, papel para imprimir, serigrafia, tintas para grabado.</p>
                </div>
            </div>

            <div class="columna">
                <div id="centrar">
                    <span><strong>Decoracion de tela</strong></span>
                    <p>Herramientas de aplicacion, kits para decorar telas, pinturas para telas y tejidos tintes.</p>
                </div>
            </div>

            <div class="columna">
                <div id="centrar">
                    <span><strong>Suministros para pintura, dibujo y arte</strong></span>
                    <p>Tableros y lienzos, dibujo, pintura, caballetes, papel para manualidades.</p>
                </div>
            </div>

            <div class="columna">
                <div id="centrar">
                    <span><strong>Coleccion de recortes y sellos</strong></span>
                    <p>Bases para cortar,papel y cartulina, fotografias, calcomanias, carton prensado.</p>
                </div>
            </div>

            <div class="columna">
                <div id="centrar">
                    <span><strong>Artesanias</strong></span>
                    <p>Artesania en madera y cuero, escultura, ceramica y alfareria, elaboracion de mosaicos.</p>
                </div>
            </div>
        </div>
    </div>
    <br><br>

    <!-- footer -->
    <footer>
        <div class="container-footer">
            <h4>Laura's Store</h4>
            <br><br>            
            <ul>
                <li><a href="#" id="item-inicial-footer">Productos</a></li>
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Contacto</a></li>
                <li><a href="#">Categorias</a></li>
                <li><a href="#">Politica de Privacidad</a></li>
            </ul>            
            <br><br>
            <hr> 
            <br>           
            <div class="seccion-copyrigth">
                <p>© 2023 Laura's Store todos los derechos reservados</p>
                <div class="redes-sociales">
                    <i class="fa-brands fa-square-facebook"></i>
                    <i class="fa-brands fa-square-twitter"></i>
                    <i class="fa-brands fa-square-instagram"></i>
                    <i class="fa-brands fa-square-whatsapp"></i>
                </div>
            </div>
        </div>
    </footer>
</body>

</html>