<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/header.css">
    <link rel="stylesheet" href="../css/footer.css">
    <link rel="stylesheet" href="../css/ofertas.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Laura's Store | Ofertas</title>
</head>
<body>
    <!-- header -->    
    <header>        
        <div class="logo">Laura's Store</div>
        <input type="checkbox" id="chk_menu" hidden>              
        <nav>
            <div class="logo">Laura's Store</div>            
            <ul>
                <li><a href="../index.html">Inicio</a></li>
                <li><a href="categorias.html">Categorias</a></li>
                <li><a href="productos.html">Productos</a></li>
                <li><a href="ofertas.html">Ofertas</a></li>
                <li><a href="contactanos.html">Contacto</a></li>
            </ul>
            <input type="search" name="ser_busqueda" class="barra-busqueda-nav" placeholder="Busqueda...................."> 
            <input type="button" value="Login" class="btn-login-nav">
            <input type="button" value="Sign up" class="btn-signup-nav">
        </nav>   
        <input type="search" name="ser_busqueda" class="barra-busqueda" placeholder="Busqueda...................."> 
        <div class="botones-header">
            <input type="button" value="Login" class="btn-login">
            <input type="button" value="Sign up" class="btn-signup">  
        </div>
        <div class="carrito">
            <a href="#"><i class="fa-solid fa-cart-shopping"></i></a>
        </div>     
        <label for="chk_menu" class="mini-menu">
            <div></div>
            <div></div>
            <div></div>
        </label>
    </header>

    <!-- Seccion de Productos en ofertas -->
    <div class="container-producto-mes">
        <div class="imagen-producto-mes oferta1"><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br></div>
        <div class="container-texto-producto-mes">
            <span class="parrafo-azul">OFERTA NUMERO 1</span>                                
            <h2>ROG Strix G531</h2>
            <br>
            <p>Sin embargo, a pesar de lo mucho que ansiamos tener una laptop gamer, a veces el precio 
                puede elevarse bastante. Por ello, este año, ASUS Republic of Gamers nos presenta la nueva 
                que siempre habías soñado: ROG Strix G531</p>
            <br>
            <p>Creada para ofrecer la velocidad, precisión y capacidad de respuesta necesarias para un juego 
                de alto nivel, ASUS lanzó la nueva ROG Strix G531, que se presenta como una nueva opción de 
                laptop gamer a un precio accesible y con las mismas características de performance y diseño 
                de la línea ROG.</p>
            <br>
            <a href="#" class="parrafo-azul">Comprar <i class="fa-solid fa-arrow-right"></i></a> 
        </div>
    </div>
    <br><br>

    <div class="container-producto-mes">
        <div class="imagen-producto-mes oferta2"><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br></div>
        <div class="container-texto-producto-mes">
            <span class="parrafo-azul">OFERTA NUMERO 2</span>                                
            <h2>Acer SB271 bi - Monitor de 27 pulgadas </h2>
            <br>
            <p>Monitor de pantalla panorámica IPS de 27.0 pulgadas Full HD (1920 x 1080) con tecnología AMD 
                Radeon FreeSync. Tiempo de respuesta: 1 ms (VRB) | Frecuencia de actualización: 75 Hz | Brillo: 
                250 nits</p>
            <br>
            <p>Elegante diseño ultradelgado Zero Frame: Proporciona la máxima visibilidad del monitor de borde a borde
                Inclinación ergonómica: -5 a 15 grados
                Puertos: 1 x puerto HDMI 1.4 y 1 x puerto VGA (cable HDMI incluido)</p>
            <br>
            <a href="#" class="parrafo-azul">Comprar <i class="fa-solid fa-arrow-right"></i></a> 
        </div>
    </div>
    <br><br>

    <div class="container-producto-mes">
        <div class="imagen-producto-mes oferta3"><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br></div>
        <div class="container-texto-producto-mes">
            <span class="parrafo-azul">OFERTA NUMERO 3</span>                                
            <h2>Instant Vortex Plus 6</h2>
            <br>
            <p>Electrodomésticos 6 en 1: Freidora de aire, asador, deshidratador, además de hornear y recalentar.
                6 programas inteligentes integrados: Programas personalizables de un solo toque para freír al aire, asar, asar y más.
                Pantalla fácil de usar: La pantalla táctil muestra cada etapa de cocción.
                </p>
            <br>
            <p>Precalentamiento rápido: Poco o ningún tiempo de precalentamiento. Temperatura ajustable: seleccionar de 95 a 400 grados
                Capacidad para 4 porciones: Perfecto para familias pequeñas y parejas
                Diseño compacto: Tamaño apto para encimera que se adapta a cualquier cocina.
                </p>
            <br>
            <a href="#" class="parrafo-azul">Comprar <i class="fa-solid fa-arrow-right"></i></a> 
        </div>
    </div>
    <br><br>

    <div class="container-producto-mes">
        <div class="imagen-producto-mes oferta4"><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br></div>
        <div class="container-texto-producto-mes">
            <span class="parrafo-azul">OFERTA NUMERO 4</span>                                
            <h2>Canon TR8620a</h2>
            <br>
            <p>El PIXMA TR8620 encaja en casi cualquier espacio con su elegante tamaño compacto
                Pantalla táctil LCD grande de 4.3 pulgadas para una experiencia de interfaz de usuario fácil
                Fácil configuración para smartphone y computadora para que puedas trabajar
                </p>
            <br>
            <p>Con un FAX integrado y un ADF de 20 hojas, el PIXMA TR8620 está listo para funcionar
                Impresión automática dúplex integrada para mayor comodidad y ahorro de papel</p>
            <br>
            <a href="#" class="parrafo-azul">Comprar <i class="fa-solid fa-arrow-right"></i></a> 
        </div>
    </div>
    <br><br>

    <div class="container-producto-mes">
        <div class="imagen-producto-mes oferta5"><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br></div>
        <div class="container-texto-producto-mes">
            <span class="parrafo-azul">OFERTA NUMERO 5</span>                                
            <h2>Mellow Colchón de espuma viscoelástica</h2>
            <br>
            <p>Fabricado en Estados Unidos: fabricado con cuidado en los Estados Unidos y piezas importadas.
                Funda refrigerante: mantén el calor lejos con una funda de tela fresca al tacto.
                Infusión en gel: la espuma viscoelástica impregnada con gel ayuda a reducir el calor atrapado para un sueño fresco y refrescante.
                </p>
            <br>
            <p>Parte superior acolchada con mechones para una máxima comodidad. Disfruta de un sueño profundo sin necesidad de otra colchoneta.
                MELLOW Calidad: espumas de alta calidad fabricadas en los Estados Unidos y certificadas por CertiPUR-US, tela certificada por OEKO-TEX, 10 años de garantía del fabricante</p>
            <br>
            <a href="#" class="parrafo-azul">Comprar <i class="fa-solid fa-arrow-right"></i></a> 
        </div>
    </div>
    <br><br>

    <!-- footer -->
    <br><br>
    <footer>
        <div class="container-footer">
            <h4>Laura's Store</h4>
            <br><br>            
            <ul>
                <li><a href="#" id="item-inicial-footer">Productos</a></li>
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Contacto</a></li>
                <li><a href="#">Categorias</a></li>
                <li><a href="#">Politica de Privacidad</a></li>
            </ul>            
            <br><br>
            <hr> 
            <br>           
            <div class="seccion-copyrigth">
                <p>© 2023 Laura's Store todos los derechos reservados</p>
                <div class="redes-sociales">
                    <i class="fa-brands fa-square-facebook"></i>
                    <i class="fa-brands fa-square-twitter"></i>
                    <i class="fa-brands fa-square-instagram"></i>
                    <i class="fa-brands fa-square-whatsapp"></i>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>