<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/header.css">
    <link rel="stylesheet" href="../css/footer.css">
    <link rel="stylesheet" href="../css/productos.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" 
    integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" 
    crossorigin="anonymous" referrerpolicy="no-referrer" />    
    <title>Laura's Store | Productos</title>
</head>
<body>
    <!-- header -->    
    <header>        
        <div class="logo">Laura's Store</div>
        <input type="checkbox" id="chk_menu" hidden>              
        <nav>
            <div class="logo">Laura's Store</div>            
            <ul>
                <li><a href="../index.html">Inicio</a></li>
                <li><a href="categorias.html">Categorias</a></li>
                <li><a href="productos.html">Productos</a></li>
                <li><a href="ofertas.html">Ofertas</a></li>
                <li><a href="contactanos.html">Contacto</a></li>
            </ul>
            <input type="search" name="ser_busqueda" class="barra-busqueda-nav" placeholder="Busqueda...................."> 
            <input type="button" value="Login" class="btn-login-nav">
            <input type="button" value="Sign up" class="btn-signup-nav">
        </nav>   
        <input type="search" name="ser_busqueda" class="barra-busqueda" placeholder="Busqueda...................."> 
        <div class="botones-header">
            <input type="button" value="Login" class="btn-login">
            <input type="button" value="Sign up" class="btn-signup">  
        </div>
        <div class="carrito">
            <a href="#"><i class="fa-solid fa-cart-shopping"></i></a>
        </div>     
        <label for="chk_menu" class="mini-menu">
            <div></div>
            <div></div>
            <div></div>
        </label>
    </header>

    <!-- Seccion de los productos -->
    <!-- --------------------------------------------------
        primer par 
    ------------------------------------------------------- -->
    <br><br>
    <div class="contenedor">
        <div>
         <h2>Productos varios</h2>
        </div>
        <br>
        <br>    
        <div class="row">
            <div class="columna-ofertas">
                <h3>Ahorra en telefonos Appple</h3>
                <div class="img-div apple">

                </div>
                <div class="vermas">
                    <a href=""><strong>Apple</strong></a>
                    <button class="boton carta">Ver Mas</button>
                </div>
                <hr>
            </div>

            <div class="columna-ofertas">
                <h3>Aditamentos de hogar</h3>
                <div class="img-div dg">

                </div>
                
                <div class="vermas">
                    <a href=""><strong>D&G</strong></a>
                    <button class="boton carta">Ver Mas</button>
                </div>
                <hr>
            </div>

            <div class="columna-ofertas">
                <h3>Computo</h3>
                <div class="img-div compu">

                </div>

                <div class="vermas">
                    <a href=""><strong>Sistemas</strong></a>
                    <button class="boton carta">Ver Mas</button>
                </div>
                <hr>
            </div>

            <div class="columna-ofertas">
                <h3>Accesorios</h3>
                <div class="img-div gadge">

                </div>
                <div class="vermas">
                    <a href=""><strong>Extras</strong></a>
                    <button class="boton carta">Ver Mas</button>
                </div>
                <hr>
            </div>            
        </div>
    </div>
    
    <br><br>
    <div class="contenedor">
        <br>
        <br>

        <div>
         <h2>Productos de belleza</h2>
        </div>
        <br>
        <br>    
        <div class="row">
            <div class="columna-ofertas belleza">
                <div class="img-div-b shampoo">

                </div>
                <div>
                    <a href=""><strong>Shampoo anticaspa</strong></a>

                </div>
            </div>

            <div class="columna-ofertas belleza">
                <div class="img-div-b resuradora">

                </div>
                <a href=""><strong>Rasuradoras</strong></a>
            </div>

            <div class="columna-ofertas belleza">
                <div class="img-div-b cremas">

                </div>
                <a href=""><strong>Cremas exfoliantes</strong></a>
            </div>

            <div class="columna-ofertas belleza">
                <div class="img-div-b ace">

                </div>
                <a href=""><strong>Ace Xedex</strong></a>
            </div>            
        </div>
    </div>

    <!-- --------------------------------------------------
        segundo par 
    ------------------------------------------------------- -->
    
    <br><br>
    <div class="contenedor">
        <div>
         <h2>Productos gaming</h2>
        </div>
        <br>
        <br>    
        <div class="row">
            <div class="columna-ofertas">
                <h3>Ahorra en Graficas</h3>
                <div class="img-div grafica">

                </div>
                <div class="vermas">
                    <a href=""><strong>Nvidia</strong></a>
                    <button class="boton carta">Ver Mas</button>
                </div>
                <hr>
            </div>

            <div class="columna-ofertas">
                <h3>Monitores HD</h3>
                <div class="img-div monitor">

                </div>
                
                <div class="vermas">
                    <a href=""><strong>Corser</strong></a>
                    <button class="boton carta">Ver Mas</button>
                </div>
                <hr>
            </div>

            <div class="columna-ofertas">
                <h3>Teclados</h3>
                <div class="img-div teclado">

                </div>

                <div class="vermas">
                    <a href=""><strong>Imexx</strong></a>
                    <button class="boton carta">Ver Mas</button>
                </div>
                <hr>
            </div>

            <div class="columna-ofertas">
                <h3>Mouse</h3>
                <div class="img-div mouse">

                </div>
                <div class="vermas">
                    <a href=""><strong>Xtech</strong></a>
                    <button class="boton carta">Ver Mas</button>
                </div>
                <hr>
            </div>            
        </div>
    </div>
    
    <br><br>
    <div class="contenedor">
        <br>
        <br>

        <div>
         <h2>Productos de calzado</h2>
        </div>
        <br>
        <br>    
        <div class="row">
            <div class="columna-ofertas belleza">
                <div class="img-div-b zapatos-uno">

                </div>
                <div>
                    <a href=""><strong>Adidas</strong></a>

                </div>
            </div>

            <div class="columna-ofertas belleza">
                <div class="img-div-b zapatos-dos">

                </div>
                <a href=""><strong>Timberland</strong></a>
            </div>

            <div class="columna-ofertas belleza">
                <div class="img-div-b zapatos-tres">

                </div>
                <a href=""><strong>Vans</strong></a>
            </div>

            <div class="columna-ofertas belleza">
                <div class="img-div-b zapatos-cuatro">

                </div>
                <a href=""><strong>American Eagle</strong></a>
            </div>            
        </div>
    </div>   

    <!-- footer -->
    <footer>
        <div class="container-footer">
            <h4>Laura's Store</h4>
            <br><br>            
            <ul>
                <li><a href="#" id="item-inicial-footer">Productos</a></li>
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Contacto</a></li>
                <li><a href="#">Categorias</a></li>
                <li><a href="#">Politica de Privacidad</a></li>
            </ul>            
            <br><br>
            <hr> 
            <br>           
            <div class="seccion-copyrigth">
                <p>© 2023 Laura's Store todos los derechos reservados</p>
                <div class="redes-sociales">
                    <i class="fa-brands fa-square-facebook"></i>
                    <i class="fa-brands fa-square-twitter"></i>
                    <i class="fa-brands fa-square-instagram"></i>
                    <i class="fa-brands fa-square-whatsapp"></i>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>