:root{
    --azulsuave: #2EC5CE;
    --blanco: #fff;
    --grisoscuro: #20262E;    
    --rosasuave: #F1E4FF;
}

a{
    cursor: pointer;
}

@keyframes Aparecer{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

footer a {
	color: var(--blanco);
}

*{
    transition:all .3s ease-in-out;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    background: var(--blanco);
    animation: Aparecer .5s ease-in-out;
}

.contenedor{
    width: 100%;
    padding: 0 70px;
}

.row::after{
    content: "";
    display: table;
    clear: both;      
}

.boton.carta
{
    background-color: #2EC5CE;
    border-style: none;
    padding-top: .6rem;
    padding-bottom: .6rem;
    border-radius: 5px;
    width: 90px;
    color: #ffffff;
    margin: auto;
    float: right;
    cursor: pointer;
}
.img-div-b{
    overflow: hidden;
    content: "";
    width: 100%;
    min-height: 100%;
    margin: auto;
    background-repeat: no-repeat;
    background-position: center;
}
.img-div-b img:hover{
    -webkit-transform:scale(0.9);
    transform:scale(0.9);
}
.img-div{
    display: flex;
    align-items: center;
    overflow: hidden;
    content: "";
    width: 350px;
    min-height: 100%;
    margin: auto;
    background-repeat: no-repeat;
    background-position: center;
    /* background-size: cover; */
}
.img-div img{    
    max-width: 100%;
    /*min-height: 80%;*/
    margin: auto;
    image-resolution: no-repeat;
    image-rendering: center;
    /* background-size: cover; */
}

.img-div-b img{    
    /*width: 350px;*/
    min-height: 80%;
    margin: auto;
    image-resolution: no-repeat;
    image-rendering: center;
    /* background-size: cover; */
}
.img-div img:hover{
    -webkit-transform:scale(1.1);
    transform:scale(1.1);
}


.columna-ofertas{
    float: left; 
    width: 50%;
    padding: 30px;  
    margin: 0.75%; 
    font-size: 20px;
    height: 25rem;
    margin: auto; 
    margin-bottom: 5rem;
    padding: 2rem;    
}

.columna-ofertas strong{
    color: var(--grisoscuro);
}

.columna-ofertas p{
    color: var(--grisoscuro);
}
.columna-ofertas.belleza{

    float: left; 
    width: 23.5%;
    padding: 30px;  
    margin: 0.75%; 
    font-size: 20px;
    height: 25rem;  
    margin: auto; 
    margin-bottom: 5rem;
    padding: 2rem;
    text-align: center;
}
.vermas{
    margin: 1rem;
    padding-bottom: .5rem;
    
}

@media screen and (max-width: 1000px) {   

    /*---------------------------------------
    seccion ofertas de productos*/
    .columna-ofertas.belleza{
        width: 50%;
    }    
}

@media screen and (max-width: 800px){
   
    /*---------------------------------------
    seccion ofertas de productos*/
    .columna-ofertas{
        width: 100%;
    }

    .columna-ofertas.belleza{
        width: 100%;
        height: 18rem;
    }

    .columna-ofertas h3{
        font-size: 16px;
    }

    .columna-ofertas strong, .columna-ofertas p{
        font-size: 15px;
    }   
}

@media screen and (max-width: 560px) {
    
    /*---------------------------------------
    seccion ofertas de productos*/
    .img-div{
        content: "";
        width: 250px;
        min-height: 100%;
        margin: auto;
        background-repeat: no-repeat;
        background-position: center;
        /* background-size: cover; */
    }
}
