:root{
    --azulsuave: #2EC5CE;
    --blanco: #fff;
    --grisoscuro: #20262E;    
    --rosasuave: #F1E4FF;
}

header{
    width: 100%;
    height: 70px;
    background: var(--grisoscuro);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
}

.logo{
    font-size: 30px;
    font-weight: bold;
    color: var(--azulsuave);
}

.barra-busqueda{
    display: flex;
    width: 27%;
    height: 38px;
    border-radius: 5px;
    border: none;
    font-size: 15px;
    padding: 10px;
}

.cant-carrito{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    background-color: var(--azulsuave);
    width: 15px;
    height: 16px;
    text-align: center;
    border-radius: 5px;
    position: absolute;
    float: inline-start;
}

/*barra de navegacion principal del sitio*/
nav ul{ 
    display: flex;    
}

nav .logo{
    color: var(--azulsuave);
    display: none;
    font-weight: bold;
}

nav ul li a{
    color: var(--blanco);
    display: block;
    margin: 0 2px;
    font-size: 15px;
    padding: 8px 18px;
    border-radius: 5px;
}

nav ul li a:hover{
    background: var(--azulsuave);    
}

/*barra de busqueda pequeña*/
.barra-busqueda-nav{
    display: none;
    height: 38px;
    border-radius: 5px;
    border: none;
    font-size: 15px;
    padding-left: 10px;
}

/*Menu de opciones para desplazarse en el sitio*/
.mini-menu{
    display: none;
    height: fit-content;
    cursor: pointer;
    padding: 3px 8px;
    border-radius: 5px;    
}

.mini-menu div:hover{
    background: var(--blanco);
}

.mini-menu div{
    width: 30px;
    height: 3px;
    margin: 6px 0px;
    background-color: var(--blanco);
}

/*botones*/
.botones-header{
    display: flex;
    align-items: center;
}

.btn-login{
    background-color: var(--rosasuave);
    color: var(--grisoscuro);
    width: 70px;
    height: 38px;
    border-radius: 5px;
    border: 0;
    font-size: 15px;
    cursor: pointer;
}

.btn-signup{
    background-color: var(--azulsuave);
    color: var(--blanco);
    width: 70px;
    height: 38px;
    border-radius: 5px;
    border: 0;
    margin-left: 10px;
    font-size: 15px;
    cursor: pointer;
}

.carrito i{
    color: var(--blanco);
    font-size: 30px;
    cursor: pointer;
}

.btn-login-nav{
    display: none;
    background-color: var(--rosasuave);
    color: var(--grisoscuro);
    width: 70px;
    height: 38px;
    border-radius: 5px;
    border: 0;
    font-size: 15px;
    cursor: pointer;
    
}

.btn-signup-nav{
    display: none;
    background-color: var(--azulsuave);
    color: var(--blanco);
    width: 70px;
    height: 38px;
    border-radius: 5px;
    border: 0;
    margin-left: 10px;
    font-size: 15px;
    cursor: pointer;
}

/*Carrito de compras*/
.cart-products{
    position: absolute;
    z-index: 900;
    top: 82px;
    right: 15px;
    background-color: #fff;
    padding: 0 18px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 20%);
    display: none;
    min-width: 290px;
}

.cart:hover{
    margin-bottom: 16px;
    transition-duration: .3s;
}

.close-btn{
    margin: 15px 0;
    text-align: end;
    cursor: pointer;
    color: #000;
}

.cart-products .item img{
    max-width: 80px;
    max-height: 100px;
}

.cart-products .item{
    display: flex;
    align-items: center;
    border-bottom: solid 2px var(--azulsuave);
    padding: 10px;
    text-align: center;
}
.cart-products .item .item-content{
    margin: 0 19px;
    width: 201px;
}
.cart-products .item .item-content h5{
    margin: 0;
    font-size: 15px;
    font-weight: 400;
    font-family: system-ui;
}
.cart-products .item .item-content h6{
    margin: 0;
    font-size: 13px;
    font-weight: 400;
    font-family: system-ui;
}
.cart-products .item span{
    background-color: var(--azulsuave);
    padding: 0px 5px;
    width: 20px;
    height: 20px;
    text-align: center;
    vertical-align: middle;
    border-radius: 50%;
    color: #fff;
    font-family: system-ui;
    cursor: pointer;
}
.cart-products h3{
    margin-bottom: 0;
    text-align: center;
}
.cart-products .item .item-content h5.cart-price{
    font-weight: 700;
}

.cart-products h2{
    margin: 15px;
    color: var(--azulsuave);
}

/*1300 de ancho se hace mas pequeños los items*/
@media screen and (max-width: 1300px){
    .logo{
        font-size: 25px;
    }

    nav ul li a{
        padding: 6px 12px;
        font-size: 14px;
    }

    .barra-busqueda{
        width: 20%;
        font-size: 14px;
        height: 31px;
    }

    .btn-login{
        font-size: 14px;
        width: 60px;
        height: 31px;
    }

    .btn-signup{
        font-size: 14px;
        width: 60px;
        height: 31px;
    }

    .carrito i{
        font-size: 25px;
    }
}

/*en 1000 px se oculta el menu pero sigue viendose la barra de busqueda*/
@media screen and (max-width: 1000px){
    nav{
        position:fixed;
        left: -300px;
        top: 0;
        z-index: 999;
        width: 250px;
        height: 100vh;
        transition: 0.2s;
        background-color: #20262E;
    }

    #chk_menu:checked ~ nav{
        left: 0;         
    }

    nav .logo{
        display: block;        
        font-size: 25px;
        align-items: center;
        margin: 15px 30px;
        width: fit-content;        
    }

    nav ul{
        display: block;
        padding: 0 20px; 
        margin-top: 30px;
    }

    nav ul li a{
        margin-bottom: 5px;
        padding: 10px 15px;
    }

    .mini-menu{
        display: block;
    }

    .logo{
        width: 40%;
    }
}

/*la barra dde busqueda se oculta y se muestra otra en el menu lateral*/
@media screen and (max-width: 800px){     

    .barra-busqueda-nav{
        display: block;
        padding: 10px 15px;
        margin-left: 22px;
        width: 205px;
    }

    .barra-busqueda{
        display: none;
    }

    .logo{
        width: 50%;
    }
}

/*se achican los tamanos de letras e iconos*/
@media screen and (max-width: 560px){    

    nav .logo{
        display: block;        
        font-size: 20px;
        align-items: center;
        margin: 20px 30px;
        width: fit-content;        
    }     

    .barra-busqueda-nav{
        display: block;
        padding: 10px 15px;
        margin-left: 22px;
        width: 205px;
        font-size: 14px;
    }

    .logo{
        font-size: 20px;
        width: 40%;
    }

    .btn-login{
        font-size: 12px;
        width: 50px;
        height: 27px;
    }

    .btn-signup{
        font-size: 12px;
        width: 50px;
        height: 27px;
    }

    .carrito i{
        font-size: 20px;
    }

    .mini-menu div{
        width: 30px;
        height: 3px;
        margin: 6px 0px;
        background-color: var(--blanco);
    }

    .mini-menu div{
        width: 25px;
        height: 2px;
        margin: 6px 0px;
        background-color: var(--blanco);
    }

    .cart-products{
        width: 90%;
    }
}

/*los botones se ocultan y pasan a mostrarse en el menu lateral*/
@media screen and (max-width: 400px){
    
    nav .logo{
        display: block;        
        font-size: 17px;
        align-items: center;
        margin: 25px 30px;
        width: fit-content;        
    } 

    .mini-menu{
        display: block;
    }    

    .barra-busqueda-nav{               
        margin-bottom: 5px;
    }
    
    .logo{
        font-size:17px;
        width: 60%;
    }

    .btn-login{
        display: none;
    }

    .btn-signup{
        display: none;
    }

    .btn-login-nav{
        margin-bottom: 5px;
        display: block;
        width: 205px;
        margin-left: 22px;
    }

    .btn-signup-nav{
        margin-bottom: 5px;
        display: block;
        width: 205px;
        margin-left: 22px;
    }    

    .mini-menu div{
        width: 25px;
        height: 2px;
        margin: 6px 0px;
        background-color: var(--blanco);
    }

    
}

