<div class="columna">
    <div id="centrar">
        <a href="/productos?nombre=<%=categoria.nombre%>"><strong><%=categoria.nombre%></strong></a>
        <p><%=categoria.descripcion%></p>
    </div>
</div>