<div class="container-row-libros">
    <div class="row-libros">  
        <% Libros.forEach(function(Libro){ %>
            <%- include('components/libro', {libro: Libro}); %>
        <% }); %>          
        
    </div>
</div>     