<header>
    <script src="js/showcart.js"></script>
    <script src="js/productos.js"></script>
    <div class="logo">Laura's Store</div>
    <input type="checkbox" id="chk_menu" hidden>
    <nav>
        <div class="logo">Laura's Store</div>
        <ul>
            <li><a href="/">Inicio</a></li>
            <li><a href="/categorias">Categorias</a></li>
            <li><a href="/productos">Productos</a></li>
            <li><a href="/ofertas">Ofertas</a></li>
            <li><a href="/contactanos">Contacto</a></li>
        </ul>
        <input type="search" name="ser_busqueda" class="barra-busqueda-nav"
            placeholder="Busqueda....................">
        <input type="button" value="Login" class="btn-login-nav" onclick="location.href='view/login.html'">
        <input type="button" value="Sign up" class="btn-signup-nav" onclick="location.href='view/registro.html'">
    </nav>
    <input type="search" name="ser_busqueda" class="barra-busqueda" placeholder="Busqueda....................">
    <div class="botones-header">
        <input type="button" value="Login" class="btn-login" onclick="location.href='/login'">
        <input type="button" value="Sign up" class="btn-signup" onclick="location.href='registro'">
    </div>

    <div class="carrito" onclick="showCart(this)">
        <a href="#"><i class="fa-solid fa-cart-shopping"><span class="cant-carrito">0</span></i></a>
    </div>

    <!-- Carrito de compras -->

    <div class="cart-products" id="products-id">
        <p class="close-btn" onclick="closeBtn()"><b>X </b></p>
        <h3>Carrito de Compras</h3>
        <div class="card-items">
            
        </div>
        <h2>Total: $<strong class="price-total">0</strong></h2>
        <div class="container_button"><button id="realizarCompra" class="btn-signup">Relizar compra</button></div>
    </div>

    <label for="chk_menu" class="mini-menu" onclick="miniMenuShow()">
        <div></div>
        <div></div>
        <div></div>
    </label>

</header>