<div class="columna-ofertas belleza">
    <div class="img-div-b">
        <img src="<%=oferta.urlimagen%>" alt="">
    </div>
    <div>
        <a onclick="detalleProducto()">
            <strong><%=oferta.nombre%></strong>
            <p><%=oferta.cant%> unids, <%=oferta.precio%></p>
        </a>
    </div>
</div>