<div class="columna-ofertas belleza">
    <div class="img-div-b <%=oferta.class%>">

    </div>
    <div>
        <a onclick="detalleProducto()">
            <strong><%=oferta.nombre%></strong>
            <p><%=oferta.precio%></p>
        </a>

    </div>
</div>