<div class="columna-ofertas">
    <h3><%=producto.nombre%></h3>
    <div class="img-div">
        <img src="<%=producto.urlimagen%>">
    </div>
    <div class="vermas">
        <strong>L <%=producto.precio%></strong>
        <button class="boton carta" onclick="detalleProducto('<%=producto.nombre%>')">Ver Mas</button>
    </div>
    <hr>
</div>